<!DOCTYPE html>
<html>
<head>
	<title>FIT AI</title>
	<link rel="stylesheet" href="../css/custom.css">
	<link rel="icon" href="../images/title.jpg">

</head>
<body>

	<header>
		<div class="container">
			<div class="logo">
			    <a href="#">
				    <img src="../images/logo3.png" alt="logo1.png">
			    </a>
		    </div>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Rank</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="../templates/signup.html">Sign Up</a></li>
					<li><a href="../templates/pushup.html">Start Push-Up Tracker</a></li>

				</ul>
		    </nav>
		</div>
	</header>
	<section class="yellow">
		<div class="container">
			<h2>Full-Body Workout</h2>
			<a href="#">Start Course</a>
		</div>
	</section>
	<section class="neon">
		<div class="container">
			<h2>Cardio HIIT</h2>
			<a href="#">Start Course</a>
		</div>
	</section>
	<section class="blue">
		<div class="container">
			<h2>Core Strength</h2>
			<a href="#">Start Course</a>
		</div>
	</section>
	<section class="red">
		<div class="container">
			<h2>Lower Body Workout</h2>
			<a href="#">Start Course</a>
		</div>
	</section>
	<section class="white">
		<div class="container">
			<h2>Upper Body & Mobility</h2>
			<a href="#">Start Course</a>
		</div>
	</section>

	<footer>
		<div class="container flex">
			<div class="col-4">
				<p>
					Here are five home-friendly, equipment-free workout courses tailored for all fitness levels: 
					Full-Body Workout, Cardio HIIT, Core Strength, Lower Body, and Upper Body & Mobility. 
					Each course includes modified exercises for beginners, intermediates, and advanced users.
				</p>
			</div>
			<div class="col-4">
				<ul>
					<li><strong>Full-Body Workout</strong></li>
					<li><a href="#">Jumping Jacks</a></li>
					<li><a href="#">Knee Push-Ups</a></li>
					<li><a href="#">Half Squats</a></li>
					<li><a href="#">Plank on Knees</a></li>
					<li><a href="#">Slow Mountain Climbers</a></li>
				</ul>
			</div>
			<div class="col-4">
				<ul>
					<li><strong>Full-Body Workout</strong></li>
					<li><a href="#">Jumping Jacks</a></li>
					<li><a href="#">Knee Push-Ups</a></li>
					<li><a href="#">Half Squats</a></li>
					<li><a href="#">Plank on Knees</a></li>
					<li><a href="#">Slow Mountain Climbers</a></li>
				</ul>
			</div>
			<div class="col-4">
				<ul>
					<li><strong>Full-Body Workout</strong></li>
					<li><a href="#">Jumping Jacks</a></li>
					<li><a href="#">Knee Push-Ups</a></li>
					<li><a href="#">Half Squats</a></li>
					<li><a href="#">Plank on Knees</a></li>
					<li><a href="#">Slow Mountain Climbers</a></li>
				</ul>
			</div>
		</div>

		<div class="container">
			<p class="Copyrights">
				Copyrights 2025 &copy; <a href="#">BL-BlackLight</a>
			</p>
		</div>
	</footer>

</body>
</html>