<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign Up</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="icon" href="../images/title.jpg">
</head>
<body>


	<!--header-->
	<header>
		<div class="container">
			<div class="logo">
			    <a href="#">
				    <img src="../images/logo3.png" alt="logo1.png">
			    </a>
		    </div>
			<nav>
				<ul>
					<li><a href="../templates/index.html">Home</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Rank</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="../templates/signup.html">Sign Up</a></li>

				</ul>
		    </nav>
		</div>
	</header>
    <!-- header -->

    <section class="signupform">
    	<div class="container flex justify-center">
    		<div class="signup">
    			
    			<form>
    				<label for="name">Name : </label>
    				<input id="name" type="text" placeholder="Full Name">
    				

    				<label for="email">Email Address : </label>
    				<input id="email" type="email" placeholder="xyz@gmail.com">
    				
					<strong>Select Your Gender : </strong>
    				<input id="male" type="radio" name="Gender">
    				<label for="male">Male</label>
    				<input id="female" type="radio" name="Gender">
    				<label for="female">Female</label>
    				<input id="others" type="radio" name="Gender" checked>
    				<label for="others">Others</label>

					<strong>Select Your Age : </strong>
    				<input id="kids" type="radio" name="Age">
    				<label for="kids">10-17</label>
    				<input id="Mature" type="radio" name="Age" checked>
    				<label for="Mature">18-35</label>
    				<input id="Older" type="radio" name="Age">
    				<label for="Older">35+</label>
					<br>
    				<label for="pass">Enter Password :</label>
    				<input id="pass" type="Password" name="pass">
					<br>
    				<br>
    				
    				<input type="submit" name="" value="Signup Now">

    				<p>Have an account? <a href="../templates/login.html">Login here.</a></p>
    			</form>


    		</div>
    	</div>
    </section>

</body>
</html>